li {
  list-style-type: none;
  text-align: center
}

h1 {
  font-family: 'Coiny', cursive;
}

h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
}

h4 {
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
}

button {
  font-family: 'Dosis', sans-serif;
}

body {
  background: #C855FC;
  color: #fff
}

.albums {
  margin-bottom: 20px
}
